@font-face {
    -fx-font-family: "Space Nova";
    src: url("fonts/RobotoMono-Bold.ttf");
}

@font-face {
    -fx-font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Bold.ttf");
}

.parent{
    -fx-background-color: #313131 !important;
}

/* Sidebar */
.sidebar{
    -fx-background-color: #545454;
    -fx-background-radius: 15px;
}

.unclicked {
    -fx-background-color: transparent;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.unclicked:hover {
    -fx-background-color: #A38B2D;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: #545454;
}

.clicked {
    -fx-background-color: #FFCC00;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: #545454;
}

/* Exit Button */
.exit {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.exit:hover {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.exit:pressed {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}

/* Title */
.title{
    -fx-background-color: #545454;
    -fx-background-radius: 15px;
}

.titleText {
    -fx-font-family: "Space Nova";
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}

.titleSubheadText {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.titleOption {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 15px;
    -fx-text-fill: #FFCC00;
    -fx-underline: true;
}

/* Table */
.table-view .column-header-background {
    -fx-background-color: #545454;
}

.table-view .column-header {
    -fx-background-color: #545454;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: "Space Nova";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #F3F3F3;
}

.table-view .table-row-cell:even {
    -fx-background-color: #FFFFFF;
}

.table-view .table-row-cell:nth-child(3n) {
    -fx-background-color: #E2E2E2;
}

.table-view .table-row-cell {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1 0;
}

.comboBox {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 12px;
    -fx-text-fill: #FFCC00;
}

/* Buttons sa baba */
.deleteBttn {
    -fx-background-image: url("../images/delete-bttn.png");
    -fx-background-size: 197px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.deleteBttn:hover {
    -fx-background-image: url("../images/delete-bttn.png");
    -fx-background-size: 197px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}

.deleteBttn:pressed {
    -fx-background-image: url("../images/delete-bttn.png");
    -fx-background-size: 197px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.addCatBttn {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 99px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.addCatBttn:hover {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 99px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FF9E9E;
}

.addCatBttn:pressed {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 99px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.returnBttn {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 112px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.returnBttn:hover {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 112px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FF9E9E;
}

.returnBttn:pressed {
    -fx-background-image: url("../images/return_bttn.png");
    -fx-background-size: 112px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/* Questions */
.cat {
    -fx-background-color: #545454;
    -fx-background-radius: 10px;
}

.catNo {
    -fx-font-family: "Space Nova";
    -fx-font-size: 75px;
    -fx-background-color: transparent;
    -fx-text-fill: #74FFDE;
}

.catNoS {
    -fx-font-family: "Space Nova";
    -fx-font-size: 75px;
    -fx-background-color: transparent;
    -fx-text-fill: #FF9E9E;
}

.catTitle {
    -fx-font-family: "Space Nova";
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: #74FFDE;
}

.catTitleS {
    -fx-font-family: "Space Nova";
    -fx-font-size: 22px;
    -fx-background-color: transparent;
    -fx-text-fill: #FF9E9E;
}

/* View Button */
.view {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 77px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.view:hover {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 77px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.view:pressed {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 77px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}

.view2:pressed {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size:216px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.view2 {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size:216px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.view2:hover {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size:216px 31px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


