@font-face {
    -fx-font-family: "Space Nova";
    src: url("fonts/RobotoMono-Bold.ttf");
}

@font-face {
    -fx-font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Bold.ttf");
}

.parent{
    -fx-background-color: #313131 !important;
}

/* Sidebar */
.sidebar{
    -fx-background-color: #545454;
    -fx-background-radius: 15px;
}

.unclicked {
    -fx-background-color: transparent;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.unclicked:hover {
    -fx-background-color: #A38B2D;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: #545454;
}

.clicked {
    -fx-background-color: #FFCC00;
    -fx-border-radius: 3px;
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-text-fill: #545454;
}

/* Exit Button */
.exit {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.exit:hover {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.exit:pressed {
    -fx-background-image: url("../images/exit_bttn.png");
    -fx-background-size: 146px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Space Nova";
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}

/* Title */
.title{
    -fx-background-color: #545454;
    -fx-background-radius: 15px;
}

.titleText {
    -fx-font-family: "Space Nova";
    -fx-font-size: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFCC00;
}
